# .npmrc
# Route the @demonzdevelopment scope to GitHub Packages
@demonzdevelopment:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

# Optimize install behavior
engine-strict=true
save-exact=true
