# Existing Keys
TMDB_API_KEY=""  // Your tmdb api key
TVMAZE_API_URL=https://api.tvmaze.com

DB_HOST=""  // Your database hostname
DB_USER=""  // Your database username
DB_PASS=""  // Your database password
DB_NAME=""  // Your database name

# New Trakt Keys
TRAKT_CLIENT_ID="" // Your trakt client id
TRAKT_CLIENT_SECRET="" // Your trakt client secret8f02ccbd035f8656287c563d4227f1a3c9d5ddfb56b6